:root {
    --dark-blue: #394a51;
    --soft-blue: #7fa99b;
    --grey: #fbf2d5;
    --red: #fdc57b;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, var(--soft-blue), var(--dark-blue));
    padding: clamp(20px, 5vw, 50px) 10px 10px
}

.container {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--grey);
}

h1 {
    margin-bottom: 30px;
}

label {
    text-align: left;
    font-size: small;
}

.inputs-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.validation-btn {
    background-color: var(--red);
    padding: 8px;
    border-radius: 6px;
    width: 120px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.bmi-value {
    font-weight: 600;
    margin-top: 30px;
    font-size: 30px;
}

.comment {
    margin-top: 15px;
}